@import "~bootstrap/scss/bootstrap.scss";
.BigCounter {
        text-align: center;
        background: black;

}
.BigCounter div {
    display: inline-block;
    font-size: 70px;
    line-height:70px;
    padding: 10px;
    background: black;
    color:white;
    margin: 3px;
    border-color: white;
}